<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>კრუასანი</string>
		<key>ItemImage</key>
		<string>Kruasani.png</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

 1 ც  კრუასანის ცომი
1/2 ჭიქა ნუტელა
2 ს.კ გამდნარი კარაქი
შაქარი
მომზადება:

ცომი გავაბრტყელოთ, გამოვჭრათ სამკუთხედები, ჩავდოთ შიგნით 1 ს. ნუტელა, გადავახვიოთ კრუასანივით.

ზემოდან წავუსვათ კარაქი და მოვაყაროთ შაქარი. გამზადებული კრუასანები  დავაწყოთ საცხობ ფირფიტაზე.

შევდოთ ღუმელში 400 გრადუსზე 10-12 წთ.</string>
		<key>ItemVoice</key>
		<string>kruasani-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Kruasani-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>მაფინი</string>
		<key>ItemImage</key>
		<string>Mafini.png</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

3 ს.კ ზეთი
2 ც კვერცხი
3 ც გაჭყლეტილი ბანანი
1/4 ჭიქა შაქარი
1/2 ჭიქა რძე
1 ც ჩაის ფერი
1 ს.კ ვანილის ექსტრაქტი
1-3/4 ჭიქა ფქვილი
1 ს.კ გამაფხვიერებელი,მარილი
1 ს.კ დარიჩინი
მომზადება:

რძე ჩავასხათ ქვაბში ,დავუმატოთ ჩაის ფერი და გავაჩეროთ მანამ,სანამ რძე შეფერილობას

არ მიიღებს.  ჯამში მოვათავსო ბანანი, კვერცხი,ზეთი,შაქარი და კარგად ავთქვიფოთ.

შემდეგ დავამატოთ ვანილი, ფქვილი,გამაფხვიერებელი, მარილი,დარიჩინი და რძე,კარგად

ავთქვიფოთ. მიღებული მასა მოვათავსოთ კოვზით საცხობ ფორმაში, შევდოთ ღუმელში 375

გრადუსზე 15 წთ.</string>
		<key>ItemVoice</key>
		<string>mafini-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Mapini-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ბლომანჟე</string>
		<key>ItemImage</key>
		<string>Blomanje.png</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

1 ს.კ მჭადის ფქვილი
160 მლ რძე
2 ჩ.კ შაქარი
ვანილი-გემოვნებით
მომზადება:

მჭადის ფქვილი შევურიოთ 80 მლ რძეში და კარგად ვურიოთ, სანამ ერთი სისქის მასას არ მივიღებთ. დარჩენილი

რძე წამოვადუღოთ, დავუწიოთ ცეცხლს და დავუმატოთ შაქარი, ვანილი და რძიანი მჭადის ფქვილი. ვურიოთ

განუწყვეტლივ,სანამ მიღებული მასა შესქელდება.</string>
		<key>ItemVoice</key>
		<string>blomanje-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Blomanje-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ბრაუნი</string>
		<key>ItemImage</key>
		<string>brauni.jpg</string>
		<key>ItemDescription</key>
		<string>ინგრედიენტები
100 გრ კარაქი
100 გრ შავი შოკოლადი
100 გრ რძიანი შოკოლადი
200 გრ (წვრილი) შაქარი
100 გრ ფქვილი
1 ჩ.კ. გამაფხვიერებელი
30 გრ კაკაო

მომზადების წესი
გავახუროთ ღუმელი 180 გრადუსამდე. საცხობ ფორმაში ჩავაფინოთ პერგამენტის ქაღალდი და ფორმას კედლებზე წავუსვათ კარაქი ან ზეთი.

ორთქლზე გავადნოთ შოკოლადი და კარაქი და გავაგრილოთ ოთახის ტემპერატურამდე.

კვერცხი და შაქარი ავთქვიფოთ კარგად.

შოკოლადის მასა ჩავასხათ კვერცხის მასაში, დავაცრათ მშრალი ინგრედიენტები და ამოვურიიოთ.

ჩავასხათ ფორმაში და ვაცხოთ 25-30 წუთი. ზედაპირი უნდა იყოს ფხვიერი და უნდა \&quot;გაიბზაროს\&quot;.


შაქარი შეგიძლიათ ოდნავ დაფქვათ ყავის საფქვავში, ოღონდ შაქრის პუდრასავით არა. ბრაუნი უნდა გამოაცხოთ კვადრატულ ფორმაში. ეს რეცეპტი გათვლილია 22 სმ-იან კვადრატულ ფორმაზე. გამოცხობის შემდეგ უნდა დაჭრათ ნამცხვარი კვადრატებად, მაგრამ მე კვადრატული ფორმა არ მქონდა და მრგვალში გამოვაცხვე. შეგიძლიათ მიირთვათ ნაყინთან ერთად.</string>
		<key>ItemVoice</key>
		<string>brauni-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Brauni-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>კექსი</string>
		<key>ItemImage</key>
		<string>keqsi.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

4 ც კვერცხი
3/4 ჭიქა თაფლი
2 ჭიქა ფქვილი
1/3 ჭიქა ზეთი
მარილი-მწიკვით
მომზადება:

ცალკე ავთქვიფოთ კვერცხის გულები, დავამატოთ ფქვილი, ზეთი და განვაგრძოთ თქვეფა.

დავამატოთ თაფლი,მარილი და ისევ ავთქვიფოთ. ბოლოს დავამატოთ ათქვეფილი კვერცხის ცილა,

კარგად შევურიოთ. მიღებული მასა მოვათავსოთ სპეციალურ ცხიმიან საცხობ ფორმაში, შევდოთ

ღუმელში 175 გრადუსზე და ვაცხოთ 40 წთ.</string>
		<key>ItemVoice</key>
		<string>keqsi-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Keqsi-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ჩიზქეიქი</string>
		<key>ItemImage</key>
		<string>cheesecake.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

5 ცკ ვერცხი
1 ჭიქა შაქარი
1 ს.კ ხაჭო
2 ს.კ არაჟანი
4ს.კ მანის ბურღული
1 შეკვრა ვანილი
150 გრ ქიშმიში
100 გრ საფანელი
მომზადება:

კვერცხისა და შაქრისგან გოგლი-მოგლს გავაკეთებთ. მერე ხაჭოს, არაჟანს და მანის ბურღულს რიგ-რიგობით შევურევთ. ქიშმიშსა და ვანილს დავამატებთ. ამ ყველაფერს ერთმანეთში კარგად ავურებთ. ავიღებთ კექსის ცხიმწასმულ ფორმას და ზედ საფანელს მოვაყრით. შემდეგ ათქვეფილ მასას დავასხამთ და ორი საათით დაბალ ცეცხლზე ვაცხობთ. ზემოდან შეგიძლიათ შაქრის პუდრა მოაყაროთ ან მინანქარი მოასხათ</string>
		<key>ItemVoice</key>
		<string>cheesecake-s</string>
		<key>ItemDescriptionVoice</key>
		<string>CHeesecake-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ეკლერი</string>
		<key>ItemImage</key>
		<string>ekleri.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა: 

 ცომი:

1 ჭიქა წყალი (250 გრ)
100 გრ კარაქი/მარგარინი
0.5 ჩ.კ მარილი
5 კვერცხი
1 ჭიქა ფქვილი (250 გრ)
კრემი:

1 ჭიქა შაქარი (250 გრ)
0.5 ჭიქა ფქვილი
0.5 ჭიქა რძე (შესაძლებელია წყალიც)
60 – 70 გრ კარაქი (გარბილებული)
მომზადების წესი :

ცომი:

1 ჭიქა წყალი , 0.5 ჩ.კ მარილი და 100 გრ კარაქი / მარგარინი გაადნეთ მაღალ ცეცხლზე, სანამ ცხიმი არ გადნება. შემდეგ დავუკლოთ ცეცხლს და დავუმატოთ 1 ჭიქა ფქვილი ( მოვურიოთ ხის კოვზით მასა, სანამ არ შეიკვრება ). მოვაშოროთ მასა ცეცხლს,ამასობაში 5 კვერცხი (სათითაოდ) გავთქვიფოთ მიქსერით, ცომის შესქელების შემდეგ (ისე, რომ ფორმა შეინარჩუნოს) უკვე ეკლერს ვაძლევთ სასურველ ფორმას ( შეგიძლიათ გამოიყენოთ ერთჯერადი პარკი და თავი ოდნავ წააჭერით. ) . ტაფაზე გადმოგვაქვს ეკლერის ცომი (ვაწყობთ სათითაოდ , ერთმანეთისგან 2სმ დაშორებით), 35 წუთის განმავლობაში შევდგათ ტაფა ღუმელში მაღალ ცეცხლზე, როდესაც ცომი გაფუვდება და გარედან მოყავისფრდება დაუწიეთ ცეცხლს, 10 წუთის შემდეგ კი გამორთეთ და გამოიღეთ ტაფა (აცადეთ ცოტა შეგრილდეს.. 15-20 წუთი, რომ ცომი არ ჩაიფუშოს ).

 კრემი:

1 ჭიქა შაქარი , 0.5 ჭიქა ფქვილი, 0.5 ლ ადუღებული რძე (შეგიძლიათ რძის მაგივრად იხმაროთ წყალი), ავურიოთ მიქსერით ერთმანეთში. მიღებული მასა დავდგათ დაბალ ცეცხლზე და სისტემატიურად ვურიოთ ხის კოვზით, სანამ არ გახდება კრემის მასის. ამისშემდეგ დავდგათ კრემი გასაციებლად (მაგ: ცივი წყლით სავსე ჯამში),
60-70 გრ დარბილებული კარაქი ჩავთქვიფოთ კრემის მასაში და ბოლოს დავუმატოთ ვანილი.

მოსართავად (სურვილისამებრ):

1 ფილა შავი შოკოლადი
1-2ს.კ. რძე/წყალი</string>
		<key>ItemVoice</key>
		<string>ekleri-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Ekleri-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ტირამისუ</string>
		<key>ItemImage</key>
		<string>tiramisu.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

100 გრ შაქრის პუდრა
6 ც კვერცხი
2 შეკვრა ვანილი
500 გრ ” მასკარპონე”
კონიანკი -გემოვნებით
 2ჭიქა ყავა ( ნესკაფე)
500 გრ ორცხობილა ”ქალის თითები”
კაკაო
მომზადება:

კვერცხის გულები გავთქვიფოთ კარგად შაქრის პუდრასთან და ვანილთან ერთად,დავამატოთ “Mascarpone”,ცოტა კონიაკი (გემოვნებით) და ვთქვოფოთ მანამ,სანამ ერთიან სქელ მასას არ მივიღებთ. ბოლოს, ფრთხილად შევურიოთ ცალკე გათქვეფილი კვერცხის ცილა.
მოვამზადოთ 2 ჭიქა მაგარი ყავა და გავაციოთ,დავამატოთ ვანილი და კონიაკი გემოვნებით(დაახლოებით 2 ს/კ).
ტირამისუს პეჩენიები სათითაოდ,სწრაფად ამოვავლოთ ყავაში და მოვათავსოთ ღრმა ჭურჭელში,მოვასხათ კრემი,შემდეგ ისევ პეჩენიები და ბოლოს კრემი.
შევდათ მაცივარში მინიმუმ 6 საათი.
სუფრასთან მიტანის წინ თავზე მოვაყაროთ  კაკაო</string>
		<key>ItemVoice</key>
		<string>tiramisu-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Tiramisu-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>რულეტი</string>
		<key>ItemImage</key>
		<string>ruleti.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

სგუშონი 1ც.
წყალი 0,5 ჭიქა
კვერცხი 2ც.
ვანილი
1,5 ჭიქა ფქვილი
კრემისთვის:

რძე 1 3–4 ჭიქა
კვერცხი 2ც.
ფქვილი 2 ს/კ.
შაქარი 1 ჭიქა.
ქარაქი 2 ჩ/კ.
ვანილი 1ჩ/კ.
მომზადება:

კვერცხი ავთქვიფოთ, დავამატოთ სგუშონი, ვანილი, წყალი და ავურიოთ ერთიანი მასის მიღებამდე, შემდეგ დავამატოთ ფქვილი – ცომი უნდა გამოვიდეს ისეთი სისქის როგორიც ალადიკების ცომია. გამოსაცხობ ფორმაზე დავდოთ პერგამენტის ქაღალდი, წავუსვათ ქარაქი, დავასხათ მომზადებული ცომი, კოვზით შევასწოროთ ცომის ზედაპირი და გამოვაცხოთ 180 -200 გრადუსზე  15 წუთი. გამოცხობის შემდეგ ცოტა ვაცადოთ გაცივება და შემდეგ წავუსვათ მოხარშული კრემი, გადავახვიოთ და თავზე მოვასხათ შოკოლადის განაჩე.

 

მოხარშული კრემი:

კვერცხი ავთქვიფოთ, დავამატოთ ფქვილი და კარგად ავურიოთ.

ცალკე ქვაბში ავადუღოთ რძე და შაქარი და აღნიშნული მასა დავამატოთ ფქვილიან–კვერცხიან მასას, დავდგათ გაზქურაზე და ხის ჯოხით ვურიოთ განუწყვეტლივ, მომზადებამდე. როცა მომზადდება დავამატოთ კარაქი, ვანილი და კარგად ავურიოთ.</string>
		<key>ItemVoice</key>
		<string>ruleti-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Ruleti-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ბლინები</string>
		<key>ItemImage</key>
		<string>blinebi.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

 4 კვერცხი
1 ს.კ შაქარი
2 ს.კ მარილი
4 ს.კ რძე
4 ს.კ შვრიის ბურბუშელა
2ს.კ კარაქი
მომზადება:

ერთად ათქვიფეთ ყველა ინგრედიენტი, კარაქის გარდა. ტაფაში გაადნეთ ცოტა კარაქი და შეწვით

მასში ბლინები, სანამ ორივე მხრიდან ოქროსფერი არ გახდება. სანამ ბლინს გადაატრიალებთ,

დაუამტეთ კიდევ ცოტა კარაქი.

ბლინები შეინაზეთ თბილად. განაგრძეთ ბლინების კეთება, სანამ ბლინის მასა არ გათავდება. სუფრაზე

მიიტანეთ საშაქრულ მარწყვთან, წითელ ან შავ მოცხართან, ჟოლოსთან, შტოშთან ან ფორთოხლის

ლიქიორთან ათქვეფილ ნაღებთან ერთად.</string>
		<key>ItemVoice</key>
		<string>blinebi-s</string>
		<key>ItemDescriptionVoice</key>
		<string>blinebi-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>რაფაელო</string>
		<key>ItemImage</key>
		<string>rafaelo.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

 200 გრ არაჟანი
1/2 ქილა შესქელებული რძე
150 გრ თეთრი შოკოლადი ( გამდნარი
400 გრ ქოქოსის ფანტელი
100-150 გრ მოხალული ნუში
მომზადება:

ნუშის გულს დაასხით მდუღარე წყალი, 2-3 წუთის შემდეგ ამოუწურეთ, გაფცქვენით და მოხალეთ.

არაჟანი, შესქელებული რძე და გამდნარი შოკოლადი ათქვიფეთ. შეაზილეთ 200 გრ ქოქოსის ფანტელი.

გააკეთეთ პატარა ბურთულები,შუაში მოათავსეთ ნუში და ამოავლეთ ქოქოსის ფანტელებში. გასაცივებლად შედეთ მაცივარში.</string>
		<key>ItemVoice</key>
		<string>rafaelo-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Rapaelo-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>გოზინაყი</string>
		<key>ItemImage</key>
		<string>gozinayi.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

500 გრ ნიგოზი
3 ს.კ თაფლი
ვანილი-დანის წვერით
მომზადება:

ნიგოზი მოვხალოთ, მოვაშოროთ კანი და დავჭრათ საშუალო ნაჭრებად. თაფლი დავდგათ ნელ ცეცხლზე, ვურიოთ

და დავტოვოთ 5 წუთი. ჩავაყაროთ დაჭრილი ნიგოზი, ვანილი,თან განუწყვეტლივ ვურიოთ. როცა მიღებული

მასა გასქელდება, გადმოვდგათ ცეცხლიდან და გადავიტანოთ სველ ფიცარზე

200 გრ კარაქი
1ს.კ კონიაკი
3 ჭიქა ფქვილი
1ს.კ კაკაო
1ს.კ შაქრის პუდრა
მომზადება:

</string>
		<key>ItemVoice</key>
		<string>gozinayi-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Gozinayi-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>შოკმანჟე</string>
		<key>ItemImage</key>
		<string>shokmanje.jpg</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

4 ც კვერცხი
100 გრ შაქარი
1 ც შოკოლადი ფილა
100 გრ  კარაქი
50 გრ ნიგოზი
მომზადება:

კვერცხის ცილები შაქართან ერთად უნდა ავთქვიფოთ. ცალკე გავადნოთ შოკოლადი და კარაქი.. ისინიც ნელ-ნელა უნდა დავამატოთ ათქვეფილ მასას. შემდეგ ჭიქებში გადავანაწილებთ. ზემოდან დაჭრილ ან გატარებულ ნიგოზს მოვაყრით და მაცივარში გავყინავთ. თუკი სახლში რაიმე ხილი გექნებათ, შეგიძლიათ, ზემოდან ისიც დაააჭრათ.


4 ც კვერცხი
100 გრ შაქარი
1 ც შოკოლადი ფილა
100 გრ  კარაქი
50 გრ ნიგოზი
მომზადება:

კვერცხის ცილები შაქართან ერთად უნდა ავთქვიფოთ. ცალკე გავადნოთ შოკოლადი და კარაქი.. ისინიც ნელ-ნელა უნდა დავამატოთ ათქვეფილ მასას. შემდეგ ჭიქებში გადავანაწილებთ. ზემოდან დაჭრილ ან გატარებულ ნიგოზს მოვაყრით და მაცივარში გავყინავთ. თუკი სახლში რაიმე ხილი გექნებათ, შეგიძლიათ, ზემოდან ისიც დაააჭრათ.

შემადგენლობა:

4 ც კვერცხი
100 გრ შაქარი
1 ც შოკოლადი ფილა
100 გრ  კარაქი
50 გრ ნიგოზი
მომზადება:

კვერცხის ცილები შაქართან ერთად უნდა ავთქვიფოთ. ცალკე გავადნოთ შოკოლადი და კარაქი.. ისინიც ნელ-ნელა უნდა დავამატოთ ათქვეფილ მასას. შემდეგ ჭიქებში გადავანაწილებთ. ზემოდან დაჭრილ ან გატარებულ ნიგოზს მოვაყრით და მაცივარში გავყინავთ. თუკი სახლში რაიმე ხილი გექნებათ, შეგიძლიათ, ზემოდან ისიც დაააჭრათ.

</string>
		<key>ItemVoice</key>
		<string>shokmanje-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Shokmanje-m</string>
	</dict>
</array>
</plist>
