<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>სპაგეტი</string>
		<key>ItemImage</key>
		<string>Spagetti.png</string>
		<key>ItemDescription</key>
		<string>შემადგენლობა:

4 ჭიქა პატარა პამიდვრები
3 კბილი ნიორი
3 ს.კ ზეთი
რეჰანის ფოთლები
1 შეკვრა სპაგეტი
მარილი,პილპილი-გემოვენბით
პარმეზანი
მომზადება:

ტაფა დავდგათ ცეცხლზე, დავასხათ ზეთი და დავაყაროთ ნიორი,  როცა ნიორი შეყავისფერდება, დავამატოთ პამიდორი,  მოვაყაროთ მარილი და პილპილი.   როცა  ჩაიშუშება, ეს მასა დავასხათ მოხარშულ მაკარონს და კარგად ავურიოთ</string>
		<key>ItemVoice</key>
		<string>spagetti-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Spageti-m</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>კატლეტი</string>
		<key>ItemImage</key>
		<string>katleti.jpg</string>
		<key>ItemDescription</key>
		<string>კატლეტი

ინგრედიენტები
საქონლის ხორცი 700 რგ;
ხახვი - 3 საშუალო ზომის თავი;
 ნახევარ-ნახევარი კონა მწვანილი: ქინძი და ოხრახუში (უმწვანილოდაც შეიძლება);
1 კბილი ნიორი;
100 გრამი პური; 
რძე - 70 მლ.ლ;
კვერცხი - 1 ცალი;
მარილი, წიწაკა, პილპილი, რეჰანი - გამხვარი;
კარაქი 50 გრ, ზეთი - შესაწვავად სამყოფი.

 

ინვენტარი: კატპეტის მანქანა ან ბლენდერი;
მომზადების დრო: 40-50 წუთი; შესაწვავად: 15 წუთი.


მომზადების წესი
1. საქონლის ხორცს ააჭერით მყესები (გადაყარეთ), ხორცი დაჭერით მსხვილ ნაჭრებად, ასევე გაჭერით 1 თავი ხახვი ოთხ ნაწილად, გაარჩიეთ ნიორი, დაუმატეთ მწვანილიც და გაატარეთ ხორცსაკეპ მანქანაში ან დააბლენდერეთ;
2. ჯამში ჩაუშვით დატეხილი პური და დაასხით რძე, ჩაამატეთ მარილი, წიწაკა და კვერცხი. სიმარტივისთვის, შეგიძლიათ დააბლენდეროთ;
3. გაარჩიეთ 2 თავი ხახვი, დაჭერით წვრილად და მოთუშეთ ცოტაოდენ ზეთსა და კარაქში;
4. გატარებულ ხორცს გაუკეთეთ ჩაღრმავება და შიგ ჩაასხით ერთიან მასად ქცეული პური, რძე და კვერცხი (N2), მოურიეთ კარგად; 
5. აცალეთ მოთუშულ ხახვს შეგრილება და დაუმატეთ ხორციან მასას, რომელსაც პური უკვე შერეული აქვს;
6. თუ შეგიძლიათ გასინჯეთ მარილი და წიწაკა, დაამატეთ რეჰანი;
7. ამოაგუნდავეთ თითო-თითოდ, სასურველ ზომაზე, დაახლოებით ხელის გული რომ გაივსოს იმოდენად;
8. მიეცით მოგრძო, მაგრამ ბუთხუზა ფორმა და დაალაგეთ კულინარიულ დაფაზე;
9. ამოგუნდავებიდან ცოტა ხანი აცალეთ, რათა ხორცის ზედაპირი შეშრეს, ასე ადვილად შეიწვება, თუ გადაატრიალებთ ამ გუნდებს პერიოდულად (შეწვამდე) - კიდევ უფრო უკეთესი;
10. შეწვით  ცხელ, ზეთ-მოსხმულ ტაფაზე, საშუალო ცეცხლზე. უმჯობესია შეწვათ თავსახურის გარეშე, ასე კატლეტი წვნიანი და რბილი გამოვა. თავდახურულ ტაფაში ხორცი &quot;ჩაითუშება&quot;, წვენი გარეთ გამოვა, რაც მის ხარისხზე უარყოფითად იმოქმედებს. თუ თვლით, რომ ასე გული შეუწვავი დარჩება, მაშინ როცა ყველა მხრიდან გაიკეთებს კატლეტი &quot;ქერქს&quot; ანუ შეიბრაწება, შემდეგ გადაიყვანეთ დაბალ ცეცხლზე და დაახურეთ თავსახური ტაფას.


ასეთი კატლეტი ისევ ფაფუკი და გემრიელია მეორე დღესაც. განსაკუთრებით, თუ სპეციალური კონტეინერით გააცხელებთ მიკროტალღურ ღუმელში 2 წუთის განმავლობაში.

ძალიან უხდება გახეხილი სტაფილოს სალათა მაიონეზით და სურვილის შემთხვევაში - ნივრით შეზავებული; ამასთან,  კარტოფილის პიურე ან გრეჩიხა. შემწვარი კარტოფილიც არ არის დასაწუნი თანმხლები, ნამდვილად.

 </string>
		<key>ItemVoice</key>
		<string>katleti-s</string>
		<key>ItemDescriptionVoice</key>
		<string>Katleti-m</string>
	</dict>
</array>
</plist>
